.background-style-about-me {
    background-color: #F5F6F7
}

.background-style-contacts {
    background-color: #e8e8e8
}

.background-style-table-block {
    background-color: #F5F6F7
}

.background-style-films-block {
    background-color: #e8e8e8
}

.background-style-qualities {
    background-color: #F5F6F7
}

.background-style-photos-block {
    background-color: #e8e8e8
}

.background-style-quote-block {
    background-color: #F5F6F7
}

.links-style {
    color: black
}
    .links-style:hover {
        color: black;
        text-decoration: none;
    }
.links-style-colorfull{
    color: cornflowerblue;

}


.background-style-header {
    background: white;
    border-bottom: solid;
    border-color: aliceblue;
    border-width: 1px;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 9999;
}
.background-style-footer {
    background-color: white;
    border-top: solid
}

.textblock {
    padding: 25px;
    border: double;
    border-color: blueviolet;
    width: 60%
}
.bg-img {
    background: url('../Media/ProjectPhotos/1-light.jpg');
    background-size: 100% 100%;
    background-attachment: fixed
}