<div class="contacts-block background-style-2 small-padding-top-bot">
	<h2 class="contacts-block-title">Зв'язатися зі мною</h2>
	<div class="container-contacts">
		<div class="small-margin-left-right">
			<a class="links-style" href="mailto:s1712@tmm-sapr.org">
				<img class="contact-icon" src="../Media/Icons/Mail.png" alt="Пошта" title="Пошта" />
				<p>Пошта</p>
			</a>
		</div>
		<div class="small-margin-left-right">
			<a class="links-style" href="skype:rudenko_2000?userinfo">
				<img class="contact-icon" src="../Media/Icons/Skype.png" alt="Скайп" title="Скайп" />
				<p>Скайп</p>
			</a>
		</div>
	</div>
</div>