<div class="contacts-block background-style-contacts small-padding-top-bot">
	<h2 class="contacts-block-title">Зв'язатися зі мною</h2>
	<div class="container-contacts">
		<div class="small-margin-left-right">
			<a class="links-style" href="mailto:s1712@tmm-sapr.org">
				<img class="contact-icon fnc-icon-mail" src="../Media/Icons/Mail/Mail-light.png" alt="Пошта" title="Пошта" />
				<p class="block-title">Пошта</p>
			</a>
		</div>
		<div class="small-margin-left-right">
			<a class="links-style" href="skype:rudenko_2000?userinfo">
				<img class="contact-icon fnc-icon-skype" src="../Media/Icons/Skype/Skype-light.png" alt="Скайп" title="Скайп" />
				<p class="block-title">Скайп</p>
			</a>
		</div>
	</div>
</div>