<footer id="mu-footer">
	<div class="mu-footer-top">
		<div class="container">
			<div class="row">
				<div class="col-md-3">
					<div class="mu-single-footer">
						<img class="mu-footer-logo" src="../Media/favico.png" alt="Лого">
						<p>Сайт розроблено спеціально для дисципліни "Веб-технології". </p>
					</div>
				</div>
				<div class="col-md-3">
					<div class="mu-single-footer">
						<h3>Опис сайту</h3>
						<p>Сайт складається з двох сторінок. Розроблений відповідно до завдання. Повний текст завдання можна завантажити <a class="link-color" href="../task.doc">за посилянням</a> </p>
						<p>Сайт разроблявся відповідно до максимізації показників Audits (Chrome Dev tools).</p>
					</div>
				</div>
				<div class="col-md-3">
					<div class="mu-single-footer">
						<h3>Корисні посилання</h3>
						<ul class="mu-useful-links">
							<li><a class="link-color" href="../AdditionalPages/404.html">Центр консультації</a></li>
							<li><a class="link-color" href="../AdditionalPages/404.html">Центр завантажень</a></li>
							<li><a class="link-color" href="../AdditionalPages/404.html">Реестрація та платна підписка</a></li>
							<li><a class="link-color" href="../AdditionalPages/404.html">Форум допомоги</a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-3">
					<div class="mu-single-footer">
						<h3>Контактна інформація</h3>
						<ul class="list-unstyled">
						  <li class="media">
						    <span class="fa fa-home"></span>
						    <div class="media-body">
						    	<p>вул. Кирпичова, 2, Харків, Харківська область, 61000</p>
						    </div>
						  </li>
						  <li class="media">
						    <span class="fa fa-phone"></span>
						    <div class="media-body">
						       <p>+ 380 (057) 707-66-34</p>
						       <p>+ 380 (057) 707-66-01</p>
						    </div>
						  </li>
						  <li class="media">
							<span class="fa fa-envelope"></span>
							<div class="media-body">
								<p>admissions.khpi@gmail.com.</p>
							</div>
						  </li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="mu-footer-bottom">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="mu-footer-bottom-area">
						<p class="mu-copy-right">&copy; Копірайт 2020. Всі права захищені.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>