<div class="small-padding-top background-style-about-city">

    <h2 class="block-title">Цікаве про Харків</h2>

    <p class="small-margin-top-bot container textblock">
        Найбільше місто у Східній Україні і друге за чисельністю населення місто в країні.
        Центр історичної області Слобожанщина, з 1919 по 1934 рр. — столиця Української РСР,
        через що Харків відомий як «Перша столиця». З точки зору міського ансамблю місто
        цікаве не тільки дореволюційною забудовою, що місцями добре збереглася, а й архітектурою
        міжвоєнного періоду. Разом зі статусом республіканської столиці Харків отримав і архітектуру
        відповідну до статусу: монументальну, багатоповерхову. У Харкові, незважаючи на руйнування
        під час Війни, більше, ніж у будь-якому іншому місті, збереглося пам'яток архітектури
        в стилі конструктивізму. Також у Харкові знаходиться один із найбільших речових ринків в
        Україні — «Барабашово».
    </p>

    <iframe class="small-padding-top"
            title="Kharkiv"
            width="600"
            height="500"
            id="gmap_canvas"
            src="https://maps.google.com/maps?q=kharkiv%20&t=&z=11&ie=UTF8&iwloc=&output=embed"
            frameborder="0"
            scrolling="no"
            marginheight="0"
            marginwidth="0"
            style="height: 500px;
                width: 100%;">
    </iframe>
</div>