<div class="small-padding-top background-style-photos-block">

    <h2 class="block-title">Мій настрій</h2>
    
    <div id="carouselExampleControls" class="carousel slide border border-dark" data-ride="carousel">
        
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block shadow" src="../Media/Photos/Happy.jpg" alt="Я щасливий">
                <h3 class="mood-text">Я щасливий</h3>
            </div>
            <div class="carousel-item">
                <img class="d-block shadow" src="../Media/Photos/Sad.jpg" alt="Я сумний">
                <h3 class="mood-text">Я сумний</h3>
            </div>
            <div class="carousel-item">
              <img class="d-block shadow" src="../Media/Photos/Now.jpg" alt="Я у данний момент">
                <h3 class="mood-text">Я у данний момент</h3>
            </div>
        </div>
        
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <img src="../Media/Icons/Arrow.png" alt="Попередня" style="width: 100%; -webkit-transform: scaleX(-1);"/>
        </a>
        
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <img src="../Media/Icons/Arrow.png" alt="Наступна" style="width: 100%;" />
        </a>

    </div>

</div>