<div class="small-padding-top-bot background-style-quote-block">
    <div class="col-lg-6 mx-auto">
        <div class="blockquote blockquote-custom bg-white p-5 shadow rounded">
            <div class="blockquote-custom-icon bg-info shadow-sm"><i class="fa fa-quote-left text-white"></i></div>
            <p class="mb-0 mt-2 font-italic">
                “I was asked once, 'you're a smart man,why aren't you rich?' 
                I replied, 'you're a rich man, why aren't you smart?”
            </p>
            <div class="blockquote-footer pt-4 mt-4 border-top">
                Jacques Fresco
            </div>
        </div>
    </div>
</div>