
<h2>Предмети осінь 2019</h2>

<table class="table table-striped table-bordered small-margin-top-bot" style="width: 100%">
    
    <thead>
        <tr>
            <th>Дисципліна</th>
            <th>Викладач</th>
            <th>Оцінка</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>Моделювання складних систем</td>
            <td>Мартиненко В. Г.</td>
            <td>5А (97)</td>
        </tr>
        <tr>
            <td>Численні методи</td>
            <td>Устиненко О. В.</td>
            <td>5А (94)</td>
        </tr>
        <tr>
            <td>Прикладна теорія пружності</td>
            <td>Ткачук М. А.</td>
            <td>5А (94)</td>
        </tr>
        <tr>
            <td>Технології програмування</td>
            <td>Серіков В. І.</td>
            <td>5А (97)</td>
        </tr>
        <tr>
            <td>Комп'ютерне моделювання</td>
            <td>Зарубіна А. О.</td>
            <td>5А (94)</td>
        </tr>
        <tr>
            <td>Фізичне виховання</td>
            <td>Циретелі П. Б.</td>
            <td>5А (100)</td>
        </tr>
        <tr>
            <td>Теорія флгоритмів</td>
            <td>Устиненко О. В.</td>
            <td>5А (94)</td>
        </tr>
    </tbody>
</table>